<include href="includes/header.html"></include>
<div class="card container">
    <div class="card-body">
        <h1>Interests</h1>
        <hr>
        <form id="interests" action="#" method="post" class="row">
            <div class="container">
                <label class="font-weight-bold">In-door Interests</label>

                <div class="row">
                    <repeat group="{{ @indoors }}" value="{{ @indoor }}">
                        <div class="col-6 col-sm-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{ @indoor }}"
                                       name="interests[]" value="{{ @indoor }}">
                                <label class="custom-control-label" for="{{ @indoor }}">{{ @indoor }}</label>
                            </div>
                        </div>
                    </repeat>
                </div>

            </div>

            <br><br><br><br>

            <div class="container">
                <label class="font-weight-bold">Out-door Interests</label>

                <div class="row">
                    <repeat group="{{ @outdoors }}" value="{{ @outdoor }}">
                        <div class="col-6 col-sm-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{ @outdoor }}"
                                       name="interests[]" value="{{ @outdoor }}">
                                <label class="custom-control-label" for="{{ @outdoor }}">{{ @outdoor }}</label>
                            </div>
                        </div>
                    </repeat>
                </div>


            </div>


        </form>

        <div class="float-right p-2">
            <button type="submit" form="interests" class="btn btn-primary">Next ></button>
        </div>

    </div>
</div>
