<include href="includes/header.html"></include>
<div class="card container">
    <div class="card-body">
        <div id="summary" class="row">
            <div class="col-lg-6">

                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</li>

                        <check if="{{ isset(@SESSION.gender) }}">
                            <li class="list-group-item">Gender: {{ @SESSION.gender }}</li>
                        </check>

                        <li class="list-group-item">Age: {{ @SESSION.age }}</li>
                        <li class="list-group-item">Phone: {{ @SESSION.phone }}</li>
                        <li class="list-group-item">Email: {{ @SESSION.email }}</li>
                        <li class="list-group-item">State: {{ @SESSION.state }}</li>

                        <check if="{{ isset(@SESSION.sex) }}">
                            <li class="list-group-item">Seeking: {{ @SESSION.sex }}</li>
                        </check>

                        <check if="{{ isset(@SESSION.indoor) || isset(@SESSION.outdoor) }}">
                            <li class="list-group-item">Interests:
                                <check if="{{ isset(@SESSION.indoor) }}">{{ implode(@SESSION.indoor, ", ") }}<check if="{{ isset(@SESSION.outdoor) }}">,</check></check>
                                <check if="{{ isset(@SESSION.outdoor) }}">{{ implode(@SESSION.outdoor, ", ") }}</check>
                            </li>
                        </check>

                    </ul>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <img src="https://pluspng.com/img-png/user-png-icon-male-user-icon-512.png" alt="user" width="350"
                     height="350">
                <div class="text-left p-3">
                    <check if="{{ !empty(@SESSION.biography) }}">
                        <h3>Biography</h3>
                        <p>{{ @SESSION.biography }}</p>
                    </check>
                </div>
            </div>

        </div>

        <div class="text-center p-2">
            <a class="btn btn-primary text-white" href="">Contact Me!</a>
        </div>

    </div>
</div>